# Question 2

## 1. Import libraries

In [0]:
import pandas as pd
import codecs

## 2. Load data from the Week 3 Part 1

In [2]:
df1 = pd.read_csv('toronto_data_1.csv')
df1.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park

## 3. Download geospatial data for neighbourhoods

In [3]:
!wget http://cocl.us/Geospatial_data

--2020-01-15 09:19:51--  http://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 158.85.108.86, 158.85.108.83, 169.48.113.194
Connecting to cocl.us (cocl.us)|158.85.108.86|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data [following]
--2020-01-15 09:19:51--  https://cocl.us/Geospatial_data
Connecting to cocl.us (cocl.us)|158.85.108.86|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-01-15 09:19:53--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197, 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-01-15 09:19:54--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-01-15 09:19:54--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.27.211, 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.27.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!0X5xrQm2x36R0Py8PeJpapJyxoHLDrsCoh62kFTpVv6Yn1EPI_jaTKfs6xGvIxdYNU1HUTw9OZKhraaMyYHr7nMbXb0wEnGDoKhIdm7uDSWzZYw2hRI8jobKvz-Ctw6U5dmSBRZQ96JTH6Bk8K90YN_Kg0zrHp97SeHPgmJCjx36D6hvlcTHNVbSqlZVRC6mga30sIXDfgrnmZ6yuTsuutQC6UA0KYElKs8Oh5cWUna9LHGnsh0vQ1U9ehJde1fIHJ3jlNiEiXQNOTil2x-9vYgmNWvw8mB9sI-8Y_Qm-MsLNqlYMA-5R3G_Lk_XV7Q8Phuxd8PApneYXONpCNwV-leR51nXMNede5sGUJhcnpeavym0GhmVZHKaBDD72hLXhQ2SzTfv2jtuCk4lbIzJSP912DnycyTY5t7DYwjTRzHkdZ665dwaC-pP5L-65iSdGS42T9xUUe5sWEx2e--_wsGdc-h7Jx_t9u_Rm3LWtK36sORKfqGk4Abou3m61KsKUVxfIr76E1gz0qYirw54hMXK3LkZ99zm6wvVfLFdKlZeWCKD95Sc_7yh7jQRPJyAJPIhEu3FC2jdP3o_ODXCZp1e9LAUNfNoo68B6dr4oEe49cAuD8ZnAaXLoDKcYdH-b57BH7FtuC0jDJ83AfdP6IuIPY76Zm9p14d4z4Q4kBvErKQB0dzMwJGWvwgWbcML90Hqx6qGZuc4AkctWvA7KpDK5q4Kuc5QxMdru9zBAfyOhUu1YPL6j_FH_rhu2wv4rEo_UcpKfk2TcfNpEEgItezhKVO6BV-jW2YRpc26IrK5Cx4WtDc1gPgCNOPFQRWa3_wxjL0qyw7__A49-45DEMIBuEl7VrA3xxrULOPyQpxMdxuV7vvBFBC1SHugNSTn27bn0gUaQ2c7I-cQ04y8v3fj_zggER0AkPj88Y6iLNbAatIKhSw4bSk6vlDI5xHZi0YcNqzQYUaf9FRmvDsLV5gHsQcy6sn24LRhNGN-HFBjMb8e05JRRWdAymObVAYsDSyzb6r7KPW3D9-QgEjR_-yTr77lHM5wOHHYEHgYaiepo_c4uWFx1kIdVPPzYy3tXPAQ1URonJa0O3N1-fnvSOsE1joWHP-FVCaT9l0JkiP5ZaOWilmiGRE7YAzXL5ztm_Xp-cg3BcgEdJt1V3_7ATlYXBTkNrldbpsYTj90N_i9m4JWlA5pPoE2iCjUhaGyUZB3Kp00IM0q5tio8RnFprhttlL9rUZ2QjAj1qkvafhQUfZnEkfqqbTCUYOQMHjYjwbvSKldJMe-Jq8nkgCs6Pk0Fv8t5SK8P0GvAbFKUr3VSmIhyHK28d97esbmFQbwjl3pYoT0KFYYXLZf7kmUunIGz2PdxPZVxENTcpi9pfiIMn4d9ojv5UiO2A../download [following]
--2020-01-15 09:19:54--  https://public.boxcloud.com/d/1/b1!0X5xrQm2x36R0Py8PeJpapJyxoHLDrsCoh62kFTpVv6Yn1EPI_jaTKfs6xGvIxdYNU1HUTw9OZKhraaMyYHr7nMbXb0wEnGDoKhIdm7uDSWzZYw2hRI8jobKvz-Ctw6U5dmSBRZQ96JTH6Bk8K90YN_Kg0zrHp97SeHPgmJCjx36D6hvlcTHNVbSqlZVRC6mga30sIXDfgrnmZ6yuTsuutQC6UA0KYElKs8Oh5cWUna9LHGnsh0vQ1U9ehJde1fIHJ3jlNiEiXQNOTil2x-9vYgmNWvw8mB9sI-8Y_Qm-MsLNqlYMA-5R3G_Lk_XV7Q8Phuxd8PApneYXONpCNwV-leR51nXMNede5sGUJhcnpeavym0GhmVZHKaBDD72hLXhQ2SzTfv2jtuCk4lbIzJSP912DnycyTY5t7DYwjTRzHkdZ665dwaC-pP5L-65iSdGS42T9xUUe5sWEx2e--_wsGdc-h7Jx_t9u_Rm3LWtK36sORKfqGk4Abou3m61KsKUVxfIr76E1gz0qYirw54hMXK3LkZ99zm6wvVfLFdKlZeWCKD95Sc_7yh7jQRPJyAJPIhEu3FC2jdP3o_ODXCZp1e9LAUNfNoo68B6dr4oEe49cAuD8ZnAaXLoDKcYdH-b57BH7FtuC0jDJ83AfdP6IuIPY76Zm9p14d4z4Q4kBvErKQB0dzMwJGWvwgWbcML90Hqx6qGZuc4AkctWvA7KpDK5q4Kuc5QxMdru9zBAfyOhUu1YPL6j_FH_rhu2wv4rEo_UcpKfk2TcfNpEEgItezhKVO6BV-jW2YRpc26IrK5Cx4WtDc1gPgCNOPFQRWa3_wxjL0qyw7__A49-45DEMIBuEl7VrA3xxrULOPyQpxMdxuV7vvBFBC1SHugNSTn27bn0gUaQ2c7I-cQ04y8v3fj_zggER0AkPj88Y6iLNbAatIKhSw4bSk6vlDI5xHZi0YcNqzQYUaf9FRmvDsLV5gHsQcy6sn24LRhNGN-HFBjMb8e05JRRWdAymObVAYsDSyzb6r7KPW3D9-QgEjR_-yTr77lHM5wOHHYEHgYaiepo_c4uWFx1kIdVPPzYy3tXPAQ1URonJa0O3N1-fnvSOsE1joWHP-FVCaT9l0JkiP5ZaOWilmiGRE7YAzXL5ztm_Xp-cg3BcgEdJt1V3_7ATlYXBTkNrldbpsYTj90N_i9m4JWlA5pPoE2iCjUhaGyUZB3Kp00IM0q5tio8RnFprhttlL9rUZ2QjAj1qkvafhQUfZnEkfqqbTCUYOQMHjYjwbvSKldJMe-Jq8nkgCs6Pk0Fv8t5SK8P0GvAbFKUr3VSmIhyHK28d97esbmFQbwjl3pYoT0KFYYXLZf7kmUunIGz2PdxPZVxENTcpi9pfiIMn4d9ojv5UiO2A../download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.26.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.26.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_data’

Geospatial_data     100%[===================>]   2.82K  --.-KB/s    in 0s

2020-01-15 09:19:55 (428 MB/s) - ‘Geospatial_data’ saved [2891/2891]

In [8]:
geo_file = codecs.open('Geospatial_data', encoding='utf-8')
geo_df = pd.read_csv(geo_file)
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
geo_df.shape

(103, 3)

## 4. Merge data frames

Rename the 'Postal Code' column to 'Postcode' to match the df1 data frame

In [10]:
geo_df.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
geo_df.columns

Index(['Postcode', 'Latitude', 'Longitude'], dtype='object')

Merge the two data frames based on postal code

In [11]:
df2 = pd.merge(df1, geo_df, on='Postcode')
df2

    Postcode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A  Downtown Toronto  ...  43.662301 -79.389494
..       ...               ...  ...        ...        ...
98       M8X         Etobicoke  ...  43.653654 -79.506944
99       M4Y  Downtown Toronto  ...  43.665860 -79.383160
100      M7Y      East Toronto  ...  43.662744 -79.321558
101      M8Y         Etobicoke  ...  43.636258 -79.498509
102      M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

Save df2 to a csv file

In [0]:
df2.to_csv('toronto_data_2.csv', index=False)